.cadastro-form {
  height: 500px;
  width: 600px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo-pg-cadastro img {
  width: 70px;
  height: 70px;
}

.cadastro-form h1 {
  color: #8b5b85;
  font-size: 36px;
}

.cadastro {
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.input-cadastro {
  width: 250px;
  height: 50px;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
}

.input-cadastro:focus {
  outline-color: #b18dac;
}

.btn-cadastrar {
  width: 190px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-cadastrar button {
  width: 80px;
  height: 35px;
  border: 2px solid #8b5b85;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 16px;
  color: #8b5b85;
}

.btn-cadastrar button:hover {
  color: #ffffff;
  background: #8b5b85;
}

.input-cadastro::placeholder {
  color: #b18dac;
  font-style: italic;
  font-size: 14px;
}

#erro {
  font-weight: bolder;
  color: #8b5b85;
  font-style: italic;
  font-size: 1rem;
}