.menu-dados {
    width: 250px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sobre-mim-dados{
    text-align: center;
    padding: 5px;
}

.perf{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 90%;
    padding:6px;
}

.menu-dados div p{
    font-size:1rem;
    color: #fff;
}

.menu-dados div p b{
    font-size:1rem;
    color: #fff;
}