.conteudo-dados{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.infogeral {
  background-color: #c4c4c4;
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  width: 375px;
  height: auto;
  align-items: flex-start;
}

.sobre {
  background-color: #c4c4c4;
  display: inline-block;
  border-radius: 25px;
  width: 375px;
  height: auto;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  padding: 10px;
}

.alinhar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 345px;
  
}

.icone {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

h4 {
  text-align: center;
}

